.DS_Store
Thumbs.db
_gitignore/
Vagrantfile
.vagrant/
/.idea

dist/builds/
dist/release/
dist/casket_*
dist/config.yaml

error.log
access.log

/*.conf
Casketfile
!casketfile/
casket/go.mod
casket/go.sum

og_static/

.vscode/

*.bat
